body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.mainDiv {
    height: 600px;
    width: 600px;
    background-color: cadetblue;
    /*border-radius: 50%;*/
    margin: 0 auto;
    font-size: 0px;
}

.mainDiv > div {
    display: inline-block;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.red {
background-color: red;
}

.yellow {
    background-color: yellow;
    border-radius: 50%;
}

.green {
    background-color: green;
}

.red1 {
    background-color: red;
    border-radius: 50%;
    border: 1px solid black;
}

.yellow1 {
    background-color: yellow;
    border:1px solid black;
}

.green1 {
    background-color: green;
    border:1px solid black;
}

.red2 {
    background-color: red;
    border: 1px solid black;
}

.yellow2 {
    background-color: yellow;
    border:1px solid black;
}

.green2 {
    background-color: green;
    border-radius: 50%;
    border:1px solid black;
}